In [63]:
import pandas as pd

# Series

## utilizando for in range

In [64]:
data = [1, 2, 3, 4, 5]

In [65]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [66]:
index = ["Linha" + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [67]:
s = pd.Series(data = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

## utilizando dicionario

In [68]:
data = {"Linha" + str(i) : i + 1 for i in range(5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [69]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

## somando Series

In [70]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [71]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# Data Frame

In [72]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [73]:
df_1 = pd.DataFrame(data = data)
df_1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [74]:
index = ["Linha" + str(i) for i in range(len(data))] #fazendo um for in range para renomear as linhas

columns = ["Coluna" + str(i) for i in range(len(data))] #fazendo um for in range para renomear as colunas

df_1 = pd.DataFrame(data = data, index = index, columns = columns) #atribuindo os novos valores

df_1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

# Concatenacao de Data Frames

In [75]:
df_1[df_1 > 0] = "A"
df_1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [79]:
df_2 = pd.concat([df_1, df_1 + "B"], axis = 1) #axis ordena por linha (o padrao e por coluna)
df_2

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A      AB      AB      AB
Linha1       A       A       A      AB      AB      AB
Linha2       A       A       A      AB      AB      AB